.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.stage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* For desktop, we use the centered stage with scaling */
@media (min-width: 1025px) {
  .stage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    overflow: visible;
  }
}
